<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
